component name=Final_affine type=NaturalGradientAffineComponent input-dim=512 output-dim=4  max-change=1.50
component name=Final_log_softmax type=LogSoftmaxComponent dim=4


component-node name=Final_affine component=Final_affine input=Lstm1_rp_t
component-node name=Final_log_softmax component=Final_log_softmax input=Final_affine
output-node name=output input=Offset(Final_log_softmax,5) objective=linear
