convert-to-fixed-affine name=Lstm1_W_i-xr
convert-to-fixed-affine name=Lstm1_w_ic
convert-to-fixed-affine name=Lstm1_W_f-xr
convert-to-fixed-affine name=Lstm1_w_fc
convert-to-fixed-affine name=Lstm1_W_o-xr
convert-to-fixed-affine name=Lstm1_w_oc
convert-to-fixed-affine name=Lstm1_W_c-xr
convert-to-fixed-affine name=Lstm1_W-m

